.tradflow{
    border:2px solid #ccc;
    border-radius: 1em;
    margin-left : 0.8em; 
    overflow: hidden;
    height:50em;
    position: relative;
    &__top{
        font-size:1.4em;
        height:1.4em;
        line-height:1.4em;
        text-align: center;
        padding: 0.5em 0;
        margin: 0.5em 0.8em;
        border-radius: 0.5em;
        background: #aafdaf;
    }
    &__content{
        // background: red;
        height: calc(100% - 5.6em);
        &__seleshop{
            margin:1.5em 3em 0em;
            display: flex;
            align-items: center;
            height: 1.5em;
            span{
                display: block;
                height:2em;
                line-height: 2em;
                font-size:0.75em;
            }
            &__iconbox{
                width: 8em;
                height: 1.3em;
                border: 1px solid #ccc;
            }
        }
        &__setdate{
            // background: yellow;
            display: flex;
            justify-content: space-between;
            margin:1em 0em 1em 3em;
            &__label{
                // margin-left: 4em;
                font-size:0.75em;
                width:11em;
                height: 2.166em;
                line-height: 2.166em;
                // background: yellowgreen;
            }
        }
        &__tablewarp{
            // background: #000;
            height: calc(100% - 5.6em);
            // overflow: scroll;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar
            {
                width:0.5em;
                // height:16px;
                background-color:#F5F5F5;
            }
            &::-webkit-scrollbar-track
            {
                // -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
                border-radius:0.5em;
                background-color:#9df3bf;
            }
            &::-webkit-scrollbar-thumb
            {
                border-radius:0.5em;
                // -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
                background-color:#26ae5f;
            }
            &__table{
                font-size:0.75em;
                border-collapse: collapse;
                text-align: center;
                /* margin: 0 auto; */
                width:100%;
                th,td{
                    border: 1px solid #ccc;
                    border-collapse:collapse;
                    padding:0.3em;
                }
                th{
                    background-color: #26ae5f;
                    color:#fff;
                }
                td{
                    color:#333;
                    i{
                        font-style: normal;
                        padding:0 0.8em;

                    }
                    .coloryellow{
                        color : #FFA500;
                        &:hover{
                            color:#e85356;
                            cursor: pointer;
                            font-weight: bold;
                        }
                    }
                    .colorred{
                        color : #FF0000;
                        &:hover{
                            color:#e85356;
                            cursor: pointer;
                            font-weight: bold;
                        }
                    }
                    .colorgreen{
                        color: #26ae5f;
                        &:hover{
                            color:#e85356;
                            cursor: pointer;
                            font-weight: bold;
                        }
                    }
                    span{
                        padding:0 0.8em;
                        color:#26ae5f;
                        &:hover{
                            color:#e85356;
                            cursor: pointer;
                        }
                    }
                }
                tbody tr:nth-of-type(odd){            
                    background-color: #fff;        
                    }        
                tbody tr:nth-of-type(even){            
                    background-color: #9df3bf;        
                }
                .income{
                    color : #e85356;
                }
                .say{
                    color : #26ae5f;
                }
            }
        }
    }
    &__operation{
        position: absolute;
        // display: none;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        .closebox{
            position: absolute;
            top:1em;
            right:1em;
            width:2.5em;
            height: 2.5em;
            border-radius: 50%;
            background: #fff url("../../../../../icons/close.png") 0 0 / contain  content-box no-repeat;
            z-index: 10;
            &:hover{
                background-image: url("../../../../../icons/close_act.png");
                cursor: pointer;
            }
        }
        &__content{
            position: relative;
            width:100%;
            height: calc(100% - 22em);
            &__ZDZ{
                display: flex;
                align-items: center;
                width:100%;
                height: 100%;
                // background: red;
                &__item1{
                    flex:1;
                    height: 100%;
                    position: relative;
                    // background: #bbb;
                }
                // .tirusd{
                //     background: yellowgreen;
                // }
            }
        }
        &__bottom{
            width:100%;
            height: 22em;
            &__item{
                margin: 0 1em;
                height: 100%;
                background:#fff;
                &__title{
                    font-size:0.75em;
                    height: 2em;
                    line-height: 2em;
                    color:#fff;
                    background: #26ae5f;
                    text-align: center;
                }
                &__re1{
                    display: flex;
                    align-items: center;
                    height: 1.5em;
                    color:#555;
                    margin-bottom: 0.3em;
                    div{
                        font-size: 0.75em;
                        height: 2em;
                        line-height: 2em;
                        padding-left:1em;
                        span{
                            display: inline-block;
                            // width:7em;
                            height: 1.4em;
                            line-height: 1.4em;
                            margin: 0.258em 0;
                            text-align: center;
                            border-bottom: 1px solid #bbb;
                            vertical-align:middle;

                            text-overflow: ellipsis;
                            overflow: hidden;
                            //文本不换行
                            white-space: nowrap;
                        }
                        .tobirname{
                            width:5em;
                        }
                        .tobirmoney{
                            width:9em;
                        }
                        .tobirbring{
                            width:5em;
                        }
                        .tobirtake{
                            width:5em;
                        }
                        .tobircost{
                            width:7em;
                        }
                        .tobirmethod{
                            width:1.5em;
                        }
                    }
                }
                &__re2{
                    display: flex;
                    align-items: center;
                    height: 18.75em; 
                    &__item1{
                        flex:1;
                        height: 100%;
                        // background: #9df3bf;
                        &__title{
                            font-size:0.75em;
                            width:100%;
                            height: 2em;
                            line-height:2em;
                            text-align: center;
                            background: #e85356;
                            color:#fff;
                        }
                        &__content{
                            width: 100%;
                            height: 17em;
                            overflow-x: hidden;
                            overflow-y: scroll;
                            table{
                                font-size:0.75em;
                                border-collapse: collapse;
                                text-align: center;
                                /* margin: 0 auto; */
                                width:100%;
                            }
                            th,td{
                                border: 1px solid #ccc;
                                border-collapse:collapse;
                                padding:0.3em;
                            }
                            th{
                                background-color: #e85356;
                                color:#fff;
                            }
                            td{
                                color:#333;
                            }
                            .inputbox{
                                padding:0;
                                width:8em;
                                height: 2em;
                                input{
                                    width:100%;
                                    height: 100%;
                                    border: 0;
                                    font-size:0.75em;
                                    text-align: center;
                                }
                            }
                            tr:hover{
                                td{
                                    color:#f7050d;
                                }               
                            }
                            tbody tr:nth-of-type(odd){            
                                background-color: #fff;        
                            }        
                            tbody tr:nth-of-type(even){            
                                background-color: #eb8a8d; 
                                .inputbox{
                                    input{
                                        background-color: #eb8a8d; 
                                    }
                                }       
                            }
                        }
                    }
                    &__item2{
                        flex:1;
                        height: 100%;
                        // background: #bbb;
                        &__title{
                            font-size:0.75em;
                            height: 2em;
                            text-align: center;
                            line-height: 2em;
                            color:#fff;
                            background: #26ae5f; 
                        }
                        &__content{
                            width: 100%;
                            height: 17em;
                            // overflow-x: hidden;
                            // overflow-y: scroll;
                            table{
                                font-size:0.75em;
                                border-collapse: collapse;
                                text-align: center;
                                /* margin: 0 auto; */
                                width:100%;
                            }
                            th,td{
                                border: 1px solid #ccc;
                                border-collapse:collapse;
                                padding:0.3em;
                            }
                            th{
                                background-color: #26ae5f;
                                color:#fff;
                            }
                            td{
                                color:#333;
                            }
                            // .inputbox{
                            //     padding:0;
                            //     width:8em;
                            //     height: 2em;
                            //     input{
                            //         width:100%;
                            //         height: 100%;
                            //         border: 0;
                            //         font-size:0.75em;
                            //         text-align: center;
                            //     }
                            // }
                            tr:hover{
                                td{
                                    color:#f7050d;
                                }               
                            }
                            tbody tr:nth-of-type(odd){            
                                background-color: #fff;        
                                }        
                            tbody tr:nth-of-type(even){            
                                background-color: #aafdaf; 
                                // .inputbox{
                                //     input{
                                //         background-color: #eb8a8d; 
                                //     }
                                // }       
                            }
                            &__sub{
                                font-size:0.875em;
                                background: #26ae5f;
                                color:#fff;
                                font-weight: bold;
                                height: 2em;
                                line-height: 2em;
                                text-align: center;
                                margin: 1em 5em 0.2em;
                                &:hover{
                                    color : #e85356;
                                    cursor : pointer;
                                }
                            }
                            &__tript{
                                font-size:0.75em;
                                color:red;
                                margin: 0 5.8333em;
                            }
                        }
                    }
                }
            } 
        }
    }
}