.SBCard{
    width: 100%;
    &__item{
        font-size:0.875em;
        color:#333;
        margin:1em 2em;
        border: 2px solid #ccc;
        border-radius: 0.5em;
        overflow: hidden; 
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
        &__it1{
            display: flex;
            justify-content:space-between;
            background: #26ae5f;
            padding: 0 1em;
            span{
                font-size:0.75em;
                display: block;
                height: 2em;
                color:#fff;
                line-height: 2em;
            }
        }
        &__it2{
            padding: 0 1.5em;
            div{
                margin:1em 0;
            }
        }

    }
}