.zdx{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);
    background: #fff;
    padding: 1em 0;
    &__title{
        margin:0 1.2em;
        font-size: 0.875em;
        height: 2em;
        line-height: 2em;
        background: #26ae5f;
        color:#fff;
        text-align: center;
        
    }
    &__warp{
        margin-top: 1em; 
        height: 23em;
        overflow-x : hidden;
        overflow-y : scroll;
    }
  
    &__item{
        margin:0 1.5em 0.8em 1.5em;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        width:18em;
        overflow: hidden;
        &:hover{
            cursor: pointer;
        }
        &__warp1{
            padding-left: 0.8em;
            height: 1.5em;
        }
        &__warp2{
            padding-right: 0.8em;
            height: 1.5em;
        }
        &__it1{
            display : flex;
            background : #26ae5f;
            color: #fff;
            justify-content: space-between;
            align-items: center; 
            // font-weight: bold;
            height:1.5em;
            &__sp1{
                font-size:0.75em;
                height: 2em;
                line-height: 2em;
            }
        }
        &__it2{
            height:4.5em;
            overflow: hidden;
            &:hover{
                background-color: #aafdaf;
            }
            &__i1{
                height: 1.5em;
                margin:0.5em 0.5em;
                &__sp1{
                    height: 2em;
                    line-height: 2em;
                    font-size:0.75em;
                }
            }
        }
    }
}