.middlercenter{
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, 0);
    width:30em;
    height: 40em;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    thead tr{
        color:#fff;
        background: #26ae5f;
    }
    tbody tr:nth-child(even){
        background-color:#fff; 
    }
    tbody tr:nth-child(odd){
        background-color:#aafdaf; 
    } 
    tbody tr:hover{
        color:#e85356;
        cursor: pointer;
    }
}