.pmess{
    padding : 2em 2em;
    // width : calc(100% - 3.25em);
    height : 37.7em;
    margin:0 1.5em;
    // box-sizing: border-box;
    border: 2px solid #ccc;
    background: #FFF;
    border-radius: 1em;
    position: relative;
    &__box{
        
        width:calc(100% - 4px);
        height: calc(100% - 4px);
        // border:2px solid #26ae5f;
        // border-radius: 1em;
        // width:
        // height:
        &__topreg{
            background-color:#fff;
            display: flex;
            &__avatarwarp{
                width:4em;
                height:4em;
                background-color:#fff; 
                border-radius: 50%;
                position: relative;
                // border: 2px solid #ccc;
                i{
                    display: none;
                    font-style: normal;
                    position: absolute;
                    color:#fff;
                    font-size:0.75em; 
                    top:0;
                    left:0;
                    width:3.3em;
                    height:2.5em;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.3);
                    padding:1.4em 1em;
                    text-align: center;
                }
                &:hover i{
                    display: block;
                }

            }
            &__avatar{
                display: block;
                width:4em;
                height:4em;
                background-color:#fff; 
                border-radius: 50%;
                // position: relative;
                &:after{
                    display: block;
                    content: '更换头像';
                    position: absolute;
                    top:0;
                    left:0;
                    width:4em;
                    height:4em;
                    background: rgba(0, 0, 0, 0.5);
                }
            } 
            &__sign{
                margin-left:0.5em;
                // display: flex;
                width:20em;
                height:4em;
                // background: green;
            }
            &__sign1{
                display:flex;
                align-items: center;
                // background: blue;
                margin:0.3em 0;
                &__s11{                    
                    font-size:0.75em;
                    height:1.8em;
                    width:4.8em;
                    line-height: 1.8em;
                    text-align: center;
                    border: 0.08em solid #1296DB;
                    color: #1296DB;
                    border-radius: 0.5em;
                }
                &__s12{
                    margin-left: 0.8em;
                    height: 1.35em;
                    display: flex;
                    align-items: center;
                    // width:1.35em;
                    // background: #0dcbe4;
                    i{
                        display: block;
                        height: 1.35em;
                        width:1.35em;
                        background: #fff url("../../../../../icons/pmess/real.png") center center / 70%  content-box no-repeat;

                    }
                    span{
                        font-size:0.75em;
                        margin-left:0.2em;
                        color:#ccc; 
                    }
                }
                &__act1{
                    i{
                        background-image: url("../../../../../icons/pmess/real_act.png")
                    }
                    span{
                        color:#1296DB;
                    }
                }
            }
            &__sign2{
                display:flex;
                align-items: center;
                margin-top:0.6em;
                margin-bottom: 0.3em;
                // background: palevioletred;
                &__s21{
                    font-size:0.75em;
                    margin-right:0.4em;
                    color:#333;
                }
                &__s22{
                    height:1.2em;
                }
            }
        }
        &__mess{
            // display: flex;
            // background: yellow;
            margin-top: 1.3em;
            margin-left:1.3em;
            font-size:0.75em;
            color:#333; 
            &__acc{
                display: flex;
                height: 2.5em;
                width : 39em;
                align-items: center;
                // background: palegreen;
                &__title{
                    height:2em;
                    line-height: 2em;
                    width:5em;
                }
                &__code{
                    // flex:1;
                    width:13em;
                }
                &__input{
                    // flex:1;
                    // width:12em;
                    // height: 1.5em;
                }
                &__tips{
                    margin-left:0.6em; 
                    width:18em;
                    span{
                        color:#1296DB;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            &__pho{
                margin-top:0.2em;
                display: flex;
                align-items: center;
                height: 2.5em;
                // background: palegreen;
                margin-bottom: 1.2em;
                &__title{
                    height:2em;
                    line-height: 2em;
                    width:5em;
                }
                &__code{
                    box-sizing: border-box;
                    padding-left:0.3em;
                    // font-size:0.8em;
                    width:13em;
                    height: 2em;
                    line-height: 2em;
                }
                &__tips{
                    width:3em;
                    margin-left:0.6em;
                    span{
                        color:#1296DB;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

            }
            &__nick{
                // margin-top:0.2em;
                display: flex;
                align-items: center;
                height: 2.5em;
                // background: palegreen;
                margin-bottom: 1.2em;
                &__title{
                    height:2em;
                    line-height: 2em;
                    width:5em;
                }
            }
            &__sex{
                display: flex;
                align-items: center;
                height: 2.5em;
                // background: palegreen;
                margin-bottom: 1.2em;
                &__title{
                    height:2em;
                    line-height: 2em;
                    width:5em;
                }
                &__input{
                    height: 2.5em;
                    line-height: 2.5em;
                    display: flex;
                    label{
                        display: block;
                        margin-left:1.5em;
                        height: 2.5em;
                        line-height: 2.5em;
                        width: 3em;
                        input{
                            vertical-align : middle;
                            margin-right: 0.5em;
                            width:1.5em;
                            height:1.5em;
                        }
                    }
                }
            }
            input{
                box-sizing: border-box;
                padding-left:0.2em;
                font-size:0.8em;
                width:13em;
                height: 2em;
            }
            &__tag{
                margin:0 1em;
                display: block;
                width: 15em;
                height:1.34em;
                line-height: 1.34em;
                color:#e85356;

            }
        }

    }    
}