.incom{
    border: 2px solid #ccc;
    border-radius: 0.5em;
    // background: red;
    margin-left:1em;
    height: 50em;
    &__title{
        font-size: 1.4em;
        font-weight: bold;
        height: 1.4em;
        line-height: 1.4em;
        text-align: center;
        padding: 0.5em 0;
        margin: 0.5em 0.8em;
        border-radius: 0.5em;
        background: #aafdaf;
    }
    &__select{
        display: flex;
        align-items: center;
        height: 1.626em;
        margin-left:1em;
        margin-bottom: 0.5em;
        // background: #ccc;
        span{
           height:2.17em;
           line-height: 2.17em;
           font-size: 0.75em; 
        }
        div{
            margin-left:0.5em;
            height: 1.5em;
            border: 1px solid #ccc;
        }
    }
    &__query{
        display: flex;
        align-items: center;
        height: 1.626em;
        margin-left:1em;
        margin-bottom: 0.5em;
        // background: yellow;
        span{
            font-size:0.75em;
            height: 2em;
            line-height: 2em;
            margin-right: 1em;
        }
        input{
            font-size:0.75em;
            padding-left:0.2em;
            margin:0.17em 0;
        }
        &__calendar{
            margin-left:2em;
            height: 1.375em;
            // background: red;
            border: 1px solid #ccc;
            width:12em;
        }
        &__quer{
            font-size:0.75em;
            margin-left:2em;
            height: 2em;
            line-height: 2em;
            font-weight: bold;
            color:#fff;
            background: #26ae5f;
            text-align: center;
            width:5em;
            &:hover{
                cursor: pointer;
                color: #e85356;
            }
        }
    }
    &__customerpay{
        margin:0.5em 1em;
        width:calc(100% - 2em);
        // background: red;
        // height: 35em;
        &__it{
            display: flex;
            align-items: center;
            &__temp{
                font-size:0.75em;
                height: 2em;
                line-height: 2em;
                background: #26ae5f;
                color:#fff;
                text-align: center;
                width:6em;
                margin-right: 1.5em;
                &:hover{
                    color:#e85356;
                    cursor: pointer;
                }
            }
        }
        &__tirps{
            display: block;
            font-size:0.75em;
            height: 2em;
            line-height: 2em;
            margin: 0.5em 0em;
            border: 1px solid #26ae5f;
            background: #aafdaf;
            color:#333;
            border-radius: 0.3em;
            text-align: center;
        }
        &__no{
            &__item1{
                display: flex;
                align-items: center;
                height: 1.5em;
                // background: yellow;
                &__it{
                    height: 1.5em;
                    display: flex;
                    align-items: center;
                    margin-right: 1.5em;
                    &__it1{
                        font-size:0.75em;
                        height: 2em;
                        line-height: 2em;
                        margin-right: 0.5em;
                    }
                    &__it2{
                        font-size: 0.75em;
                        height: 1.5em;
                        line-height: 1.5em;
                        border-bottom: 1px solid #000;
                        margin:0.21em 0em 0.2em;
                        text-align: center;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        //文本不换行
                        white-space: nowrap;
                        width:6em;
                    }
                }
                &__ir{
                    height: 1.5em;
                    display: flex;
                    align-items: center;
                    margin-right: 1.5em;
                    &__ir1{
                        font-size:0.75em;
                        height: 2em;
                        line-height: 2em;
                        margin-right: 0.5em;
                    }
                    input{
                        font-size:0.75em;
                        width:10em;
                        padding-left:0.2em;
                    }
                    &__ir2{
                        // font-size: 0.75em;
                        border:1px solid #ccc;
                        height: 1.25em;
                        line-height: 1.25em;
                        margin-left:0.5em;
                        width:5em;
                    }
                }
            }
            &__have{
                margin-top:1em;
                &__tirps{
                    font-size:0.75em;
                    height:2em;
                    line-height: 2em;
                    // background: #aafdaf;
                }
                &__box{
                    padding-top: 0.5em;
                    border: 1px solid #26ae5f;
                    border-radius: 0.5em;
                    width: calc(100% - 2px);
                    height: 4em;
                    display: flex;
                    // align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    span{
                        font-size: 0.75em;
                        height: 2em;
                        line-height: 2em;
                        text-align: center;
                        padding: 0 0.5em;
                        margin: 0 0.5em;
                        background: #ccc;
                        color:#fff;
                        border-radius: 0.3em;
                        &:hover{
                            color:#e85356;
                            cursor: pointer;
                        }
                    }
                }
            }
            &__item2{
                position: relative;
                margin-top:0.8em;
                width:8em;
                // background: yellow;
                &:hover{
                    .incom__customerpay__no__item2__warp{
                        height: 10em;
                    }
                }
                &__it1{
                    font-size: 0.75em;
                    height: 2em;
                    line-height: 2em;
                    color:#26ae5f;
                    &:hover{
                        cursor: pointer;
                        color: #e85356;
                    }
                }
                &__warp{
                    position: absolute;
                    width:48em;
                    top:1.4em;
                    left:0;
                    height: 0;
                    transition: all 300ms ease-in; 
                    overflow-x:hidden;
                    overflow-y:scroll; 
                    background: yellowgreen;
                    &__wap{
                        padding:1em 0;
                    }
                }
                &__it2{
                    display: flex;
                    align-items: center;
                    margin:0 1em;
                    justify-content: space-between;
                    &__ir1{
                        display: flex;
                        align-items: center;
                        height: 1.5em;
                        // margin-right: 1.5em;
                       .itemsname{
                            font-size:0.75em;
                            height: 2em;
                            line-height: 2em;
                            margin-right: 0.5em;
                        }
                        .itemitem{
                            font-size: 0.75em;
                            height: 1.5em;
                            line-height: 1.5em;
                            border-bottom: 1px solid #000;
                            margin:0.21em 0em 0.2em;
                            text-align: center;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            //文本不换行
                            white-space: nowrap;
                        }
                        &__i1{
                            width:6em;
                        }
                        &__i2{
                            width:15em;
                        }
                        &__i3{
                            width:15em;
                        }
                    }
                }
            }
        }
    }
    &__table{
        width:100%;
        height: 25.5em;
        // background: red;
        overflow-x:hidden;
        overflow-y: scroll; 
        thead{
            th{
                background: #26ae5f;
                color:#fff;
            }
        }
        tbody{
            td{
                i{
                    font-style: normal;
                    color: #26ae5f;
                    &:hover{
                        cursor: pointer;
                        color: #e85356;
                    }
                }
                .confirmed{
                    color:#ccc;
                    &:hover{
                        cursor: default;
                        color:#ccc;
                    }
                }
            }
        }
        tbody tr:nth-of-type(odd){            
            background-color: #fff;        
            }        
        tbody tr:nth-of-type(even){            
            background-color: #aafdaf;       
        }
    }
}