.logwarp{
    background: yellow;
    height: 37.5em;
}
.logbox{
    // position: relative;
    // height: 25em;
    position : absolute;
    top:50%;
    right:0;
    transform: translate(0, -50%);
    width:22.5em;
    // height:25em;
    border: 2px solid #eee;
    background-color:#fff; 
    // border-radius: 10%;
    // padding: 0 1.5625em;
    &__item{
        display:flex;
        width: 18.75em;
        border-radius: 1em;
        margin: 1.8em 1.81em 0 1.81em;
        // margin-left: 
        overflow: hidden;
        border:1px solid #26ae5f;
        a{
            flex:1;
            height:2em;
            line-height: 2em;
            text-align: center;           
            background-color:#26ae5f;
            color:#fff;
            font-weight: bold;
            text-decoration : none ;
            &:nth-of-type(1){
                border-right: 1px solid #ccc; 
            }
            &:hover{
                color:#e85356;
                cursor: pointer;
            }
        }
    }
    & &__active{
        background-color:#fff;
        color:#26ae5f;
    }
    &__login{
        position: relative;
        // background-color:red;
        padding: 0 1.875em; 
        width:18.75em;
    }
}