.citybox {
  background: #fff;
  width: 25em;
  height: 40em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .citybox__title {
    font-size: 0.875em;
    font-weight: bold;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background: #aafdaf;
    text-align: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1); }
  .citybox__habitbox {
    margin: 1.5em 1em  1em 1em; }
    .citybox__habitbox i {
      font-style: normal;
      font-size: 0.875em;
      color: #aaa; }
      .citybox__habitbox i span {
        font-size: 0.85em;
        color: #aaa; }
  .citybox__habit {
    margin-top: 0.2em;
    padding: 0.3em 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 6.445em; }
    .citybox__habit span {
      font-size: 0.75em;
      padding: 0.2em 0.5em;
      margin: 0.4em 0.5em;
      border: 1px solid #ccc;
      border-radius: 0.3em;
      line-height: 1.5em;
      height: 1.5em;
      color: #bbb; }
      .citybox__habit span:hover {
        color: #e85356;
        border-color: #e85356;
        cursor: pointer; }
  .citybox__querybox {
    margin: 0 1em; }
    .citybox__querybox i {
      font-style: normal; }
    .citybox__querybox__tirps {
      display: flex;
      font-size: 0.875em;
      color: #aaa;
      height: 1.8em;
      line-height: 1.8em; }
      .citybox__querybox__tirps__mess {
        font-size: 0.75em;
        height: 2.1em;
        line-height: 2.1em;
        display: flex; }
        .citybox__querybox__tirps__mess__ico {
          height: 2.1em;
          width: 2.1em;
          background: #fff url("../../icons/tick.png") center center/70% content-box no-repeat; }
  .citybox__query {
    position: relative;
    margin-top: 0.2em;
    height: 24.3em;
    overflow: hidden; }
    .citybox__query__index {
      position: absolute;
      left: 0;
      top: -1.5em;
      width: 22em;
      background: rgba(0, 0, 0, 0.7);
      padding: 0 0.5em 0.2em 0.5em;
      border-radius: 0 0 1em 1em;
      transition: 300ms  all ease-out; }
      .citybox__query__index__tirp {
        display: block;
        width: 100%;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-size: 0.75em;
        color: #fff;
        font-weight: bold; }
        .citybox__query__index__tirp:hover {
          color: #e85356; }
      .citybox__query__index__box {
        padding: 0.3em 0;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        .citybox__query__index__box .cqindex {
          font-size: 0.75em;
          color: #fff; }
          .citybox__query__index__box .cqindex:hover {
            color: #e85356; }
      .citybox__query__index:hover {
        top: 0;
        cursor: pointer; }
    .citybox__query__search {
      margin-top: 2.8em;
      padding: 0 1em;
      height: 21.5em;
      overflow-y: scroll;
      overflow-x: hidden; }
      .citybox__query__search::-webkit-scrollbar {
        width: 0; }
      .citybox__query__search__provitem__name {
        position: relative;
        font-size: 0.75em;
        background: #26ae5f;
        color: #fff;
        font-weight: blod;
        display: block;
        padding: 0.5em 1em;
        border-top: 1px solid #ccc; }
        .citybox__query__search__provitem__name i {
          display: block;
          position: absolute;
          top: 60%;
          right: 5%;
          transform: translate(0, -50%);
          width: 1.2em;
          height: 1.2em;
          background: #26ae5f url("../../icons/triangle.png") 0 0/contain content-box no-repeat; }
        .citybox__query__search__provitem__name .iconstr {
          background-image: url("../../icons/triangle_act.png"); }
        .citybox__query__search__provitem__name span {
          display: block;
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translate(0, -50%);
          width: 1.2em;
          height: 1.2em;
          background: #26ae5f url("../../icons/tick.png") 0 0/contain content-box no-repeat; }
        .citybox__query__search__provitem__name .iconcity {
          background-image: url("../../icons/tick_acti.png"); }
        .citybox__query__search__provitem__name:hover {
          color: #e85356;
          cursor: pointer; }
      .citybox__query__search__provitem__list {
        height: 0;
        overflow: hidden; }
        .citybox__query__search__provitem__list__ele {
          padding: 0 0 0 1.5em;
          height: 1.75em;
          display: flex;
          align-items: center; }
          .citybox__query__search__provitem__list__ele__mess {
            flex: 1;
            font-size: 0.75em;
            color: #bbb;
            padding: 0.5em 0; }
            .citybox__query__search__provitem__list__ele__mess:hover {
              color: #e85356;
              cursor: pointer; }
          .citybox__query__search__provitem__list__ele__ico {
            width: 1em;
            height: 1em;
            margin-right: 1em;
            background: #fff url("../../icons/tick.png") 0 0/contain content-box no-repeat; }
            .citybox__query__search__provitem__list__ele__ico:hover {
              cursor: pointer; }
            .citybox__query__search__provitem__list__ele__ico--active {
              background-image: url("../../icons/tick_act.png"); }
          .citybox__query__search__provitem__list__ele:nth-of-type(n+2) {
            border-top: 1px solid #ccc; }
        .citybox__query__search__provitem__list--active {
          height: auto; }
      .citybox__query__search__tirps {
        height: 6em;
        background: #ccc;
        color: #fff;
        font-size: 2em;
        line-height: 6em;
        text-align: center; }
