.topMenu{
    position: relative;
    width:100%;
    border-top:2px solid #26ae5f;
    // background-color:rgb(95, 247, 35);
    &__topWarp{
        width:100%;
        height:1.8em;
        background:linear-gradient(to bottom, #eee, #efefef); 
        border-bottom:0.0625em solid #eee; 
        box-shadow:3px 1px 1px #ccc;
    }
    &__top{
        padding:0.4em 0;
        height:1em;
        background: linear-gradient(to bottom, #eee, #efefef);
        border-bottom:0.0625em solid #eee; 
        // box-shadow:3px 1px 1px #ccc;
        // overflow: hidden;
        // &:after{
            // content: ""; 
            // display: block; 
            // height: 0; 
            // clear: both; 
            // visibility: hidden;  
            // }
    }
    &__useracc{
        // float: left;
        width:14em;
        position: absolute;
        top:0.5em;
        left:0;
        z-index: 1;
        display: flex;
        // border:1px solid red;
        &__acc{
            flex:1;
            border-left:1px solid #ccc;
            border-right:1px solid #ccc;
            height:1.3em;
            line-height: 1.3em;
            text-align: center;
            font-size:0.75em;
            margin-left:2.2em;
            width:7em;
            color:#333;
            overflow:hidden;
            text-overflow:ellipsis;
            // -o-text-overflow:ellipsis;
            // -webkit-text-overflow:ellipsis;
            // -moz-text-overflow:ellipsis;
            white-space:nowrap;
            // background: red;
            &:hover{
                color:#26ae5f;
                cursor : pointer;
            }
        }
        &__leave{
            border-right:1px solid #ccc;
            height:1.3em;
            line-height: 1.3em;
            text-align: center;
            font-size:0.75em;
            width:7em;
            color:#333;
            &:hover{
                color:#26ae5f;
                cursor : pointer;
            }
        }
        // &:hover .topMenu__lanlist{
        //     height:6em;
        //     // border:1px solid red;
        // } 
    }
    &__lanlist{
        // position: absolute;
        // top:1.26em;
        // left:0;
        z-index: 1;
        // display: none;
        height: 0;
        overflow: hidden;
        transition: all 100ms linear;
        li{
            height : 2em;
            line-height : 2em;
            text-align : center;
            background : linear-gradient(to bottom, #eee, #efefef);
            font-size : 0.75em;
            width : 7em;
            margin-left : 2.2em;
            a{
                color:#333;
            }
            &:first-child{
                padding-top : 0.5em;
            }
            &:hover a{
                color:#26ae5f;
            }
        }    
    }

    &__topItems{
        float:right;
        display: flex;
        width: 22em;
    }
    &__topbtn{
        flex:1;
        font-size:0.75em;
        height:1em;
        line-height: 1em;
        text-align: center;
        color:#333;
        padding-top: 0.1667em; 
        &:nth-child(n + 2) {
            border-left: 1px solid #ccc;
        }
        &:hover{
            color : #26ae5f;
        }
    }
    &__nav{
        position: relative;
        span{
            color:#333;
            i{
                display: inline-block;
                height: 0.8em;
                width:0.8em;
                background: #eee url("../../icons/arrow.png") 0 0 / contain  content-box no-repeat;
            }
        }
        &:hover span{
            color: #26ae5f;
        }
        &__list{
            position: absolute;
            top:1.3em;
            left:0;
            z-index: 1;
            // display: none;
            height: 0;
            // border: 1px solid red;
            overflow: hidden;
            transition: all 100ms linear;
            li{
                height:2.65em;
                line-height: 2.65em;
                text-align: center;
                background: linear-gradient(to bottom, #eee, #efefef);
                font-size:0.75em;
                width:7em;
                // margin-left:2.2em;
                a{
                    color:#333;
                }
                &:hover a{
                    color:#26ae5f;
                }
            } 
        }
        &:hover &__list{
            height:12.5em;
            // border:1px solid red;
        } 
    }


    &__mid{
        margin-top: 0.125em;
        height:5em;
        background: #fff;
        // padding:0.525em 0;
        // height:0.75em;
        // border: 1px solid blue;
        &:after{
            content: ""; 
            display: block; 
            height: 0; 
            clear: both; 
            // visibility: hidden;  
        }
    }

    &__logo{
        float: left;
        height:4.5em;
        width:4.5em; 
        margin:0.25em;
        background: #fff url("../../icons/logo.png") 0 0 / contain  content-box no-repeat;
        border-radius: 50%;
        margin-left:2em;
    }
    &__name{
        float: left;
        height:5em;
        width:7em;
        background: #fff url("../../icons/name.jpg") 0 50% / contain  content-box no-repeat;
        padding-left:2em;
    }
    &__search{
        margin:1.5em 0;
        float: right;
        width:26.2em;
        height:1.8em;
        // border:1px solid red;
        input{
            width:27.41em;
            height:2.3em;
            // background:none;  
            // outline:none;  
            border:1px solid #ccc;
            // border-radius: 0.5em;
            font-size:0.75em;
            padding-right:0.5em;
            box-sizing: border-box;
            padding-left:0.75em;
        }
        &__btn{
            border: 1px solid #ccc;
            display:inline-block;
            width:4.5em;
            height:1.75em;
            line-height: 1.75em;
            text-align: center;
            // background: url("../../icons/search.png") 0 50% / contain  content-box no-repeat;
            background-color:  #ccc;
            margin-left: 0.5em;
            border-radius: 0.2em;
            font-weight: 500;
            color:#555;
            i{
                display: inline-block;
                vertical-align:middle;
                margin-bottom:0.16em;
                width:1.5em;
                height:1.5625em;
                background: url("../../icons/search.png") 0 50% / contain  content-box no-repeat;
            }
            &:hover{
                background-color: #26ae5f;
                color:#FFF;
                cursor: pointer;
            }
        }
    }
}
// .topMenu__lan:hover .topMenu__lanlist{
//     height:6em;
//     // border:1px solid red;
// } 
