.myacc{
    // background: yellowgreen;
    &__content{
        padding-top:1em;
        height:42em;
        &::after{
            display: block;
            content: '';
            clear: both;
        }

    }
    &__nav{
        background: #26ae5f;
        float: left;
        width:10em;
        padding-top: 1em;

    }
    &__items{
        // background : red;
        margin-left : 10em;
        width : calc(100% - 10em);
        height : 100%;
        overflow : hidden;
        &__pmess{
            height: 100%;
            width: 100%;
            // background: #265cae;
        }
    }
}