.handexcel {
  margin: 2em 2em; }
  .handexcel__text {
    font-size: 0.875em;
    color: #333; }
  .handexcel__conwarp {
    width: 30em;
    margin-bottom: 1em;
    height: 3.05em; }
  .handexcel__coninpwarp {
    display: flex;
    width: 13.75em;
    align-content: center;
    margin-bottom: 0.3em; }
  .handexcel__codeinput {
    flex: 5;
    box-sizing: border-box;
    padding-left: 0.2em; }
  .handexcel__codebtn {
    flex: 1;
    margin-left: 0.5em;
    font-size: 0.875em;
    background-color: #26ae5f;
    color: #fff;
    text-align: center;
    border-radius: 0.3em;
    border: 1px solid #fff; }
    .handexcel__codebtn:hover {
      background-color: #FFF;
      color: #26ae5f;
      border: 1px solid #ccc;
      box-shadow: 0 -5px 8px -7px rgba(81, 81, 81, 0.8), 0 -5px 8px -7px rgba(81, 81, 81, 0.8), 5px 0 8px -1px rgba(81, 81, 81, 0.4), 5px 0 8px -1px rgba(81, 81, 81, 0.8);
      cursor: pointer; }
  .handexcel__mess {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 0.875em;
    color: #333;
    border: 1px solid #26ae5f;
    border-radius: 0.5em;
    background-color: #a7f7c8; }
  .handexcel__input {
    display: none; }
  .handexcel label {
    display: block;
    text-align: center;
    font-size: 0.875em;
    width: 14em;
    height: 2em;
    line-height: 2em;
    border: 1px solid #fff;
    border-radius: 0.6em;
    background-color: #26ae5f;
    color: #FFF; }
    .handexcel label:hover {
      background-color: #FFF;
      color: #26ae5f;
      border: 1px solid #ccc;
      box-shadow: 0 -5px 8px -7px rgba(81, 81, 81, 0.8), 0 -5px 8px -7px rgba(81, 81, 81, 0.8), 5px 0 8px -1px rgba(81, 81, 81, 0.4), 5px 0 8px -1px rgba(81, 81, 81, 0.8);
      cursor: pointer; }
  .handexcel__box {
    width: 13em;
    height: 1.75em; }
  .handexcel__warp {
    display: flex;
    align-content: center;
    width: 13em; }
  .handexcel__char {
    flex: 2;
    display: block;
    font-size: 0.75em;
    color: #333;
    height: 1em;
    line-height: 1em;
    margin: 0.58em 0; }
  .handexcel__pro {
    flex: 1;
    display: block;
    font-size: 0.75em;
    color: #333;
    height: 1em;
    line-height: 1em;
    margin: 0.58em 0; }
  .handexcel__bar {
    height: 1.375em;
    padding: 0.125em 0; }
  .handexcel__inpregion {
    border: 1px solid #26ae5f;
    width: 20em;
    height: 10em;
    line-height: 10em;
    text-align: center;
    font-size: 0.875em;
    color: #fff; }
  .handexcel__sign {
    display: flex;
    width: 27.25em; }
    .handexcel__sign div {
      flex: 1; }
      .handexcel__sign div span {
        font-size: 0.75em; }
