.pagination{
    &__box{
        display: flex;
        align-items: center;
        span{
            margin: 0 1em;
            border: 1px solid #ccc;
            font-size:0.75em;
            width:2.5em;
            height:2em;
            line-height: 2em;
            text-align: center;
            color:#ccc;
            font-weight: bold;
            &:hover{
                border: 1px solid #26ae5f;
                background-color: #26ae5f;
                color:#fff;
                cursor: pointer;
            }
        }
        li{
            border: 1px solid #ccc;
            font-size:0.75em;
            width:2em;
            height:2em;
            line-height: 2em;
            text-align: center;
            color:#ccc;
            &:hover{
                cursor: pointer;
                border: 1px solid #26ae5f;
                background-color: #26ae5f;
                color:#fff;
            }
        }
        .activeIndex{
            border: 1px solid #26ae5f;
            background-color: #26ae5f;
            color:#fff;
        }
        .omitstyle{
            border: 1px solid transparent;
            &:hover{
                cursor: auto;
                border: 1px solid transparent;
                background-color: #FFF;
                color:#ccc;
            }
        }
    }
}