.droplist{
    position: relative;
    width: 100%;
    font-size:1em;
    &__item{
        width : 100%;
        display : flex;
        justify-content: space-between;
        align-items: center;
        span{
            
            &:nth-of-type(1){
                font-size:0.75em;
                color:#ccc;
                padding-left: 0.5em;
            }
            &:nth-of-type(2){
                font-size:0.75em;
                color:#333;
                // font-weight: bold;
            }
        }
        i{
            display: block;
            height:100%;
            width:1em;
            background: #fff url("../../icons/login/arr.png") center center / 100%  content-box no-repeat;
            padding-right: 0.2em;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__optionwarp{
        position: absolute;
        top:2.435em;
        // left:0;
        width:7.625em;
        height:8.44em;
        overflow: hidden;
        background: #fff;
    }
    &__option{
        position: absolute;
        height:9.5em;
        top:0;
        left:0;
        width:100%;
        margin:0;
        padding:0;
        overflow: scroll;
        background: #fff;
        z-index: 10;
        li{
            height : 1.7em;
            background: #FFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.5em;
            color:#333;
            &:hover{
                background-color: #26ae5f;
                color:#FFF;
                cursor: pointer;
            }

            span{
                font-size:0.75em;
            }
        }
        .activeLi{
            background-color: #26ae5f;
            color:#FFF;
        }
    }
}